.CounterList {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.CounterList-counters {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 2em;
}
