.LPT {
  padding-top: 3rem;
  max-width: 600px;
  margin-left: 2rem;
  margin-right: 2rem;
}

.LPT-tip {
  color: #2c3e50;
  font-size: 1.2rem;
}

.LPT-title {
  color: #3498db;
  font-size: 3rem;
}

.LPT-text {
  line-height: 1.8rem;
}

blockquote {
  border-left: 5px solid #80deea;
  background: #e5ffff;
  border-radius: 5px;
  padding: 0.5em 10px;
  margin: 1.5em 10px;
}

blockquote:before {
  color: #81b9bf;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #81b9bf;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.4em;
  vertical-align: -0.6em;
}
blockquote p {
  display: inline;
}
