.LPT {
  padding-top: 3rem;
  max-width: 600px;
}

.LPT-tip {
  color: #2c3e50;
  font-size: 1.2rem;
  /* display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; */
}

.LPT-title {
  color: #3498db;
  font-size: 3rem;
}

.LPT-text {
  /* width: 300px; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  line-height: 1.8rem;
}
